.reveal pre {
  font-size: 0.75em;
  width: 1200px;
  padding: 20px;
  /*color: #000;
  background-color: #fff;*/
}

code { color: #0000CD }

/* Left-align */
.reveal .slides .title { text-align: left; } /* Title slide */
.reveal .slide h1 { text-align: left; } /* H1 title slides */
.reveal .slide h2 { text-align: left; } /* H2 titles */
.reveal .slide h3 { text-align: left; } /* H3 titles */
.reveal .slide h4 { text-align: left; } /* H4 titles */

/* Text */
section  { text-align: left; }
